<ion-header>
  <ion-toolbar>
    <ion-title>Chapter2</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngFor="let chapter of chapters">
    <ion-item [routerDirection]="'root'" [routerLink]="['/chapter3']">
       {{chapter.title2}}
    </ion-item>
  </ion-list>
  <p>Now your in the middle, waiting to get through this chapter. 
    But what if the body of this book which in this case is this second chapter
    becomes the place where an anonymous amount of time is the only way you'll get through it.
    Even if you read it and complete it. The computers designer did not let you get to the last chapter unless 
    a certain amount of time passed that only he controls. You won't know how long it will take
    only that it will end but you have to trust him that it will be the right time. 
    6 months have now passed and your still on this page but he still hasn't oppened the button to allow you to go to the 
    last chapter. Everday you must check in because if you don't you might miss the opportunity when the button opens.
    Sounds like something off of the twilight zone or a nightmare but no this is in fact how God plans things sometimes. 
    It can become nightmarish. Or like the twilight zone and your sanity comes into question. 
    Unfathomable circumstances and previously unexperienced pressure that mounts and mounts. 
    In the waiting where life must continue to be lived when your at your weakest and most weary 
    stages. A cruel nightmare that has become your reality. Your hope fades in an out because you 
    tell yourself let me think positive and maybe the button will allow me to go to the final chapter tomorrow. 
    But to no avail. Then you might think I'll pray real hard and then maybe the button will open for me to make it to the final chapter. 
    But to also the button is closed. Then you say well how long do i have to  wait, and no one can tell you other than the creator
    of the app and he's not going to tell you, he's only going to tell you to wait and trust in him. So you wait 
    and then you realize after trying everything, prayer, fasting, questioning , hoping, giving up, having hope again, 
    positive thinking, negative thinking, anger, pain, sanity, and every other human emotion and behavior has been squeeze out of you. 
    You realize that during this time in the waiting that you have began a dialogue with the designer on the other end of the screen. 
    You haven't been able to move on to the last chapter but you where indeed allowed to send him messages. Some he answered some he didn't. 
    Sometimes he'd send messages but still wouldn't open the last chapter. And in time what is now 1yr of 
    this going back and forth you have gotten to know the designer, he knows everything about you and you no longer want to get to the last chapter 
    but rather you return everyday to the computer with the hope the designer will send you a message or teach you somethign cool or you'll get to know 
    more about him and what he's like. So then a relationship forms and you start to really care about this creator of the app. 
    You find out the creator of the app is your dad and that he's planning to visit you but he's on another planet and this was the only way he could 
    try and build a relationship with you and let you know that your not alone and that he has a special purpose for your life. 
    He explaines he's in a different dimension, not directily but you've come to figure that much after some odd occurrances that have happend in your life. 
    Once you've caught on you relize you love your father and are just waiting for his plan in your life and start to do all the tasks he's asked you to do. 
    The end is no longer important just the relationship with your long lost father. The one day not even thinking or hoping for it, in fact considered forgotten about 
    the button unlocks and chapter 3 is now available for you to access. But after learning so much in chapter 2 with your father you make sure to tell him that 
    the only way I want to go to chapter 3 is if you stay with me if not ill stay in chapter 2 with you. And he says
    "now your ready for chapter 3 and don't worry i'll never leave you nor forsake you. In chapter 3 we've got a few more things to do but then i'll send for you to come home with me once again my child." 
    So now its time to click to the last chapter.   
  </p>
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.charismamag.com%2Fimages%2Farchives%2Farticles%2FBlogs%2FPowerUp%2FWalk-of-faith.jpg&f=1&nofb=1"/><br>
  <ion-button color="tertiary" expand="default" [routerDirection]="'root'" [routerLink]="['/chapter1']">back</ion-button>
  <ion-button color="secondary" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter3']">Last Chapter</ion-button>
</ion-content>
